<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

</head>

    <body>

        <!-- Navigation Bar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Dealership Reviews</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% if user.is_authenticated %}
                <form class="form-inline ml-auto">
                    <span>({{user.username}})</span>
                    <a href="{% url 'djangoapp:logout' %}"> Logout</a>
                </form>
                {% else %}
                <form class="form-inline ml-auto" action="{% url 'djangoapp:login' %}" method="post">
                    {% csrf_token %}
                    <input type="text" name="username" class="form-control mr-sm-2" placeholder="Username">
                    <input type="password" name="password" class="form-control mr-sm-2" placeholder="Password">
                    <button class="btn btn-primary my-2 my-sm-0" type="submit">Login</button>
                </form>
                <a href="{% url 'djangoapp:signup' %}"> Sign Up</a>
                {% endif %}
            </div>
        </nav>

        <!-- Dealer Table -->
        <div class="container mt-4">
            <table id="dealersTable" data-toggle="table" data-pagination="true" data-filter-control="true">
                <thead>
                    <tr>
                        <th data-field="id">ID</th>
                        <th data-field="name">Dealer Name</th>
                        <th data-field="city">City</th>
                        <th data-field="address">Address</th>
                        <th data-field="zip">Zip</th>
                        <th data-field="state" data-filter-control="select">State</th>
                        <!-- Add more table columns as needed -->
                    </tr>
                </thead>
                <tbody>
                    {% for dealer in dealerships %}
                    <tr>
                        <td>{{ dealer.id }}</td>
                        <td> <a href="{% url 'djangoapp:dealer_details' dealer_id=dealer.id %}"> {{ dealer.full_name }}</a></td>
                        <td>{{ dealer.city }}</td>
                        <td>{{ dealer.address }}</td>
                        <td>{{ dealer.zip }}</td>
                        <td>{{ dealer.st }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </body>
    <script>
        $(function() {
          $('#table').bootstrapTable()
        })
    </script>
</html>
